<header>
    <h1 class="title">{{title}}</h1>
    <ul class="nav">
        <li><a href="/">Terminal</a></li>
        <li><a class="active" href="/">Result</a></li>
    </ul>
</header>

<ul id="result">
    {{# each result }}

        <li>
            <time class="time">{{this.startTime}}</time>
            : <span class="shell-title">{{this.command}}</span>
            {{this.comment}} </br>
            <span class="response">Response : </span> {{this.result}} </br>
            <time class="time">{{this.endTime}}</time>
            : success
        </li>


    {{/each}}
</ul>
